.container {
  display: grid;
  grid-template: "navBar" 50px "detail" auto;
}
.container .navBar {
  grid-area: navBar;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.container .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container .detail {
  grid-area: detail;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.button {
  width: 90px;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 20px;
}
