body {
  display: grid;
  grid: "navBar" 50px "main" auto;
}
body nav {
  grid-area: navBar;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
body main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.spinner {
  border: 4px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 2s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
