.conteiner {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 100vh;
}

.titulo {
  color: white;
  font-size: 100px;
  padding: 20px;
  border-radius: 20px;
  margin-left: calc(50% - 230px);
}

.img {
  margin-top: 40px;
  text-align: center;
}

.button {
  padding: 0px;
  width: 90px;
  height: 25px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: calc(50vw - 45px);
  margin-top: 20px;
}
