* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

//************************** All **********************************
.containerDogs {
  display: grid;
  grid-template:
    "titulo titulo" 40px
    "image temperament" 150px
    "detalle temperament" 50px /
    150px 140px;
  text-align: center;
  margin: 3px 3px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 225, 255, 0.541);

  .titulo {
    grid-area: titulo;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    grid-area: image;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 140px;
      height: 140px;
      border-radius: 20px;
    }
  }

  .temperament {
    grid-area: temperament;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: black;
  }

  .containerInfo {
    grid-area: detalle;
    width: 100%;
    height: 100%;
    color: black;
  }
}

.containerDogs:hover {
  background-color: rgba(0, 225, 255, 0.884);
  grid-template:
    "titulo titulo" 40px
    "image temperament" 150px
    "detalle temperament" 53px /
    150px 143px;
  margin: 0px 0px;
}
//************************** Detail **********************************
.containerDetail {
  display: grid;
  grid-template:
    "titulo titulo" 40px
    "image image" 250px
    "detalle detalle" 50px
    "temperament temperament" auto /
    200px minmax(100px, 400px);
  text-align: center;
  margin: 3px 3px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 225, 255, 0.541);
  margin: 10px;
  padding: 10px;

  .titulo {
    grid-area: titulo;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }

  .image {
    grid-area: image;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      width: 300px;
      border-radius: 20px;
    }
  }

  .containerInfo {
    grid-area: detalle;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    gap: 20px;
    div{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:5px;
    }
  }

  .temperament {
    grid-area: temperament;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: black;
    margin: 10px 0px;
  }
}
