* {
  margin: 0px;
  padding: 0px;
}

.notFound {
  display: flex;
  margin-left: 30vw;
  margin-top: 20vh;
  border-radius: 20px;
}

.notFound .img {
  border-radius: 20px;
}

/******************** Dog All *******************************/
.container {
  /* width: 100%;
  height: 100%; */
  display: flex;
}

.containerDogs {
  background-color: rgb(214, 238, 248);
  border: 1px solid black;
  border-radius: 20px;
  width: 260px;
  height: 230px;
  margin: 10px;
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-rows: 35px 140px 50px;
}

.containerDogs .breed {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.containerDogs .breed b {
  color: blue;
}

.containerDogs .image {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  margin-left: 5px;
}

.containerDogs .containerInfo {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 14px;
}

.containerDogs .temperament {
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.containerDogs .temperamentTitulo {
  font-size: 14px;
}

/******************** Dog Detail *******************************/

.containerDetail {
  background-color: rgb(214, 238, 248);
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 300px 40px 50px;
}

.containerDetail .breed {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.containerDetail .containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDetail .image {
  grid-row: 2/3;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDetail .containerInfo {
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
  font-size: 16px;
}

.containerDetail .containerTemperament {
  font-size: 16px;
  margin-left: 10px;
}
