* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.containerDogs {
  display: grid;
  grid-template: "titulo titulo" 40px "image temperament" 150px "detalle temperament" 50px / 150px 140px;
  text-align: center;
  margin: 3px 3px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 225, 255, 0.541);
}
.containerDogs .titulo {
  grid-area: titulo;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDogs .image {
  grid-area: image;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerDogs .image img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
}
.containerDogs .temperament {
  grid-area: temperament;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: black;
}
.containerDogs .containerInfo {
  grid-area: detalle;
  width: 100%;
  height: 100%;
  color: black;
}
.containerDogs:hover {
  background-color: rgba(0, 225, 255, 0.884);
  grid-template: "titulo titulo" 40px "image temperament" 150px "detalle temperament" 53px / 150px 143px;
  margin: 0px 0px;
}
.containerDetail {
  display: grid;
  grid-template: "titulo titulo" 40px "image image" 300px "detalle detalle" 50px "temperament temperament" auto / 360px auto;
  text-align: center;
  margin: 3px 3px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 225, 255, 0.541);
}
.containerDetail .titulo {
  grid-area: titulo;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDetail .image {
  grid-area: image;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerDetail .image img {
  display: flex;
  width: 300px;
  border-radius: 20px;
}
.containerDetail .containerInfo {
  grid-area: detalle;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: black;
  gap: 10px;
  margin-top: 20px;
  padding: 0px 10px;
}
.containerDetail .containerInfo .heightLifeSpan {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.containerDetail .temperament {
  grid-area: temperament;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: black;
  margin-bottom: 10px;
}
