.container {
  display: grid;
  grid-template-areas: "navBar" "filter" "paginated";
}
.container .navBar {
  grid-area: navBar;
  text-align: center;
  display: grid;
  grid-template-areas: "img img" "searchBar searchBar" "buttonFilter buttonEdit";
  gap: 10px;
}
.container .navBar .img {
  grid-area: img;
}
.container .navBar .img .image {
  width: 200px;
}
.container .navBar .searchBar {
  grid-area: searchBar;
  display: flex;
  justify-content: center;
}
.container .navBar .buttonFilter {
  grid-area: buttonFilter;
}
.container .navBar .buttonEdit {
  grid-area: buttonEdit;
  width: 100%;
}
.container .filter {
  grid-area: filter;
  margin: 10px 0 0 10px;
}
.container .paginated {
  grid-area: paginated;
  display: flex;
  justify-content: center;
}
