.input {
  border-radius: 10px;
}
.form {
  display: grid;
  grid-template: "temperament search" 70px "breed search" 70px "order search" 70px/250px auto;
}
.form .temperament {
  grid-area: temperament;
  align-self: center;
}
.form .breed {
  grid-area: breed;
  align-self: center;
}
.form .order {
  grid-area: order;
  align-self: center;
}
.form .search {
  grid-area: search;
  width: 50px;
  height: 50px;
  border-radius: 999999px;
  justify-self: center;
  align-self: center;
}
@media (min-width: 600px) {
  .form {
    display: flex;
    flex: none;
    justify-content: space-evenly;
    padding-bottom: 5px;
  }
  .form .temperament .input {
    width: 100px;
  }
  .form .search {
    width: 90px;
    height: 25px;
    font-size: 14px;
    border-radius: 10px;
  }
  .input {
    width: 100px;
  }
}
