.container {
  display: grid;
  grid:
    "controller" 50px
    "card" auto/
    auto;

  .controller {
    grid-area: controller;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .pag{
      width: 80px;
      flex: initial;
      text-align: center;
    }
    
    .button {
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      font-size: 14px;
      border-radius: 10px;
      gap: 5px;
      flex: initial;
    }
  }
}
