.container {
  display: grid;
  grid: "card" auto "controller" 50px/100%;
}
.container .controller {
  grid-area: controller;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
}
.container .controller .pag {
  width: 80px;
  text-align: center;
  flex: initial;
}
.container .controller .button {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 14px;
  border-radius: 10px;
  gap: 5px;
  flex: initial;
}
.container .card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
